// Colors
$dark: #282c34
$grey: #94A3B9
$white: #FFFFFF

$green: #38C79B
$yellow: #FA8E23
$red: #E44826

// Color object
$colors: (white: $white, green: $green, yellow: $yellow, red: $red, grey: $grey, dark: $dark)

// Hover lighten amount
$amount: 15%

//Get colors from obj
@function color($key)
  @if map-has-key($colors, $key)
    @return map-get($colors, $key)

  @warn "Unknown `#{$key}` in $colors."
  @return null


// Mixin for media queries
@mixin for-phone-only
  @media (max-width: 599px)
    @content

@mixin for-tablet-portrait-up
  @media (min-width: 600px)
    @content

@mixin for-tablet-landscape-up
  @media (min-width: 900px)
    @content

@mixin for-desktop-up
  @media (min-width: 1200px)
    @content

@mixin for-big-desktop-up
  @media (min-width: 1800px)
    @content
