@import 'mixins'

// Colors
$dark: #282c34
$grey: #94A3B9
$white: #FFFFFF

$green: #38C79B
$yellow: #FA8E23
$red: #E44826

// Color object
$colors: (white: $white, green: $green, yellow: $yellow, red: $red, grey: $grey, dark: $dark)

// Hover lighten amount
$amount: 15%

// Reels
$symbol-width: 141px
$symbol-height: 121px
$reel-width: $symbol-width
$reel-height: $symbol-height * 3

// Mobile
$symbol-height-phone: 103px
$symbol-width-phone: 120px
$reel-width-phone: $symbol-width-phone
$reel-height-phone: $symbol-height-phone * 3