@import '../../settings'

.Balance
  //Styles
.Balance__text
  @include for-phone-only
    font-size: 4rem

.Balance__input
  padding: 8px 10px
  margin-right: 10px
  margin-bottom: 15px
  @include for-phone-only
    margin-right: 0px
    padding: 10px 15px
    width: 100%
.Balance__label
  display: inline-block
  margin-bottom: 5px
  margin-right: 10px
  @include for-phone-only
    margin-right: 0px
    font-size: 2rem
.Balance__has-no-balance
  color: $red
.Balance__has-balance
  color: $green

