@import '../../settings'

$symbol-width: 141px
$symbol-height: 121px
$reel-width: $symbol-width
$reel-height: $symbol-height * 3

.Reel
  display: flex
  position: relative
  justify-content: center
  flex-direction: column
  align-items: center
  text-align: center
  width: $reel-width
  height: $reel-height
  background-repeat: repeat-y
  background-size: 100%
  transition: 0.1s background ease-out
  // box-shadow: inset 0px 25px 30px 0px #000000
  @include for-phone-only
    width: 141px
    background-size: $reel-width - 21px
    height: calc(363px - 60px)

  & + &::after
    content: ''
    position: absolute
    left: -  1px
    height: 50%
    width: 2px
    background-color: $white
