@import '../../settings'

.Reel
  display: flex
  position: relative
  justify-content: center
  flex-direction: column
  align-items: center
  text-align: center
  width: 141px
  height: 363px
  background-repeat: repeat-y
  transition: 0.1s background ease-out
  // box-shadow: inset 0px 25px 30px 0px #000000
  & + &::after
    content: ''
    position: absolute
    left: -  1px
    height: 50%
    width: 2px
    background-color: $white
